#default-layout {
  display: flex;
  height: 100%;
  .siderbar {
    background: white;
    width: 246px;
    height: 100%;
    border-radius: 0 30px 30px 0;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;

    > img {
      margin-top: 12px;
    }

    .side-menu {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 500;

      &__item {
        color: var(--color-text);
        display: inline-flex;
        gap: 16px;
        align-items: center;
        padding: 12px 16px;
        border-radius: 10px;
        transition: all 0.1s linear;
        cursor: pointer;

        &.active {
          background: var(--color-bg-primary);
          color: var(--color-primary);
        }
        &:hover {
          background: var(--color-bg-primary);
          color: var(--color-primary);
        }
      }
    }
  }

  main {
    flex-grow: 1;
    height: 100%;
  }
}
